<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
    <title>Post a Message</title>
</head>
<body>
<div th:replace="nav-bar :: nav-bar">
</div>
<div class="container">
    <div class="form-title">
        <h2>Post a Message</h2>
    </div>
    <div class="form-details">
        <form method="post" action="/post" th:object="${message}" accept-charset="UTF-8">
          <div class="row">
            <div class="col-25">
              <label>Name</label>
            </div>
            <div class="col-75">
              <input type="text" value="" th:field="*{posterName}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label>Message</label>
            </div>
            <div class="col-75">
              <textarea class="message-input" th:field="*{posterMessage}"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit" />
          </div>
        </form>
    </div>
</div>

</body>
</html>
