<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Guestbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>

<body>
<div class="fixed-navbar">
    <nav>
        <div class="site-name"><a href="/">Guestbook</a></div>
        <div class="post-a-message">
            <a href="/post">Post a Message</a>
        </div>
    </nav>
</div>
<div class="message-container">
    <div class="header">
        <h2>Messages</h2>
    </div>
    <div class="messages">
        <table class="message-table">
            <tr class="message-headers">
                <th>Date</th>
                <th>Name</th>
                <th>Message</th>
            </tr>
            <tr th:each="message : ${messages}" class="message">
                <td th:text="${message.postDate}" class="message-date"></td>
                <td th:text="${message.posterName}" class="message-posterName"></td>
                <td th:text="${message.posterMessage}" class="message-message"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>